<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product database</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section is-max-widescreen">
      <div class="container level">
        <h1 class="title level-left">
          Product database
        </h1>
        <div class="buttons">
          <a th:href="@{/new-product}" class="button is-primary is-light">
            Add product
          </a>
        </div>
      </div>
      <div class="container">
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${productList}">
              <td th:text="${product.name}"></td>
              <td th:text="${product.quantity}"></td>
              <td th:text="${product.description}"></td>
              <td>
                <div class="buttons">
                  <a
                    th:href="@{/product/{id}(id=${product.id})}"
                    class="button is-warning is-light"
                  >
                    Update
                  </a>
                  <a
                    th:href="@{/delete-product/{id}(id=${product.id})}"
                    class="button is-danger is-light"
                  >
                    Delete
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
