<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product database</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section is-max-widescreen">
      <div class="container" style="max-width: 700px; margin: 0 auto;">
        <h2
          class="mb-3"
          th:text="${product.id} ? 'Update Product' : 'Add Product'"
        ></h2>
        <form
          action="#"
          th:action="@{/save-product}"
          th:object="${product}"
          method="POST"
        >
          <th:block th:if="${product.id}">
            <input type="hidden" th:field="*{id}" />
          </th:block>
          <input
            type="text"
            th:field="*{name}"
            placeholder="Name"
            class="input mb-3"
          />
          <input
            type="text"
            th:field="*{quantity}"
            placeholder="Quantity"
            class="input mb-3"
          />
          <input
            type="text"
            th:field="*{description}"
            placeholder="Description"
            class="input mb-3"
          />
          <button
            type="submit"
            class="button is-primary is-light mb-6"
            th:text="${product.id} ? 'Update Product' : 'Add Product'"
          ></button>
        </form>
        <a th:href="@{/}">Go back</a>
      </div>
    </section>
  </body>
</html>
